@font-face {
  font-family: "Gilroy Extrabold";
  src: url("fonts/gilroyextrablod.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/opensanslight.woff2") format("woff2");
}


body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

background-color: #ffffff;
background-position: top center;
background-repeat: no-repeat;
}


a {
  text-decoration: none;
}

.main-navigation {
  color: #000000;

  background-color: #f7e296;
}

.user-navigation {
    list-style: none;
}

.site-navigation {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  color: #000000;
  background-color: #f7e296;
}

.catalog-items {
  line-height: 36px;
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.catalog-items a {
  color: #000000;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.5s;
}

a:hover .image {
  opacity: 0.6;
}

a:active .image {
  opacity: 0.3;
}

.user-navigation form {
  opacity: 0.3;
}

.user-navigation form:hover {
  opacity: 0.6;
}

.user-navigation form:focus {
  opacity: 1;
}

.user-navigation a:hover,
.site-navigation a:hover,
.catalog-items a:hover {
  opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active,
.catalog-items a:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


.index-columns h2 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  background-color: #ffffff;
}

.about-us li {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  list-style: circle;
}

.button {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f0c52e;
  border: none;
}


.footer-user-navigation {
    list-style: none;

}

.footer-site-navigation {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  text-align: center;
}

.footer-catalog-items {
  line-height: 36px;
  list-style: none;
}

.footer-site-navigation a,
.footer-user-navigation a,
.footer-catalog-items a,
.footer-social a {
  color: #ffffff;
}

.footer-social {
  text-align: center;
}

.footer-social {
  list-style: none;
}

.footer-user-navigation a {
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}


.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}



.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}


.footer-copyright a {
  opacity: 1;
}

.footer-copyright a:hover {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

.modal {
  display: none;
}

.page-title {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.page-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  /* Временно для сетки */
  min-height: 48px;
}

.breadcrumbs {
  list-style: none;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;

  /* Временно для сетки */
  min-height: 24px;
}

.breadcrumbs  a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-current {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs .back-page {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs .back-page:hover {
  color: #000000;
  opacity: 0.6;
}

.breadcrumbs .back-page:active {
  color: #000000;
  opacity: 0.1;
}

.filters {
  width: 328px;

  /* Временно для сетки */
  min-height: 1217px;
}

.filter-sort {
  font-size: 14px;
  line-height: 40px;
    color: #000000;
}

.filter-sort fieldset {
  border: none;
}

.filter-sort legend {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

}

.filter-sort ul {
  list-style: none;
}

.filter-option {
  color: #000000;

}

.catalog {
  width: 760px;

  /* Временно для сетки */
  min-height: 1217px;
}

.catalog a {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item-image img {
}

.catalog-item-image img:hover {
  opacity: 0.7;
}

.catalog-item-price {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}


.catalog-item {
  width: 360px;
  margin-bottom: 73px;

  /* Временно для сетки */
  min-height: 438px;
      margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}


.catalog-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;

}


.main-header {
  min-height: 317px;
  margin-bottom: 43px;

}

.main-navigation {
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
  min-height: 285px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 60px;
  padding-bottom: 45px;
  padding-right: 50px;
}

.header-logo {
  width: 163px;
  height: 35px;
  position: relative;
  bottom: 35px;
}

.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 30px;
  margin-bottom: 45px;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
  margin-bottom: 25px;
  min-height: 24px;
}

.catalog-items {
  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 36px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.index-columns-wrapper {
  min-width: 960px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
    padding-top: 285px;
    padding-bottom: 95px
}

.about-us {
  width: 480px;
  min-height: 560px;
}

.contacts {
  width: 560px;

  min-height: 560px;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
  padding-top: 65px;
  padding-bottom: 65px;
   min-height: 320px;
   display: flex;

}

.main-footer .container {
  display: flex;
}

.logo-wrapper {
  width: 260px;
  min-height: 195px;
  margin: 0;
}

.info-wrapper {
  width: 438px;
  min-height: 195px;
  margin: 0;
}

.icon-wrapper {
  width: 362px;
  min-height: 195px;
  margin: 0;

}

.footer-logo {
  width: 163px;
  height: 35px;
}

.footer-address {
  width: 260px;
  height: 30px;

  margin-top: 32px;
}

.footer-site-navigation {
  width: 440px;
  height: 24px;
    margin-top: 139px;
    margin-left: 100px;
}

.footer-social {
  width: 440px;
  height: 24px;
  margin-top: 67px;
  margin-left: 100px;
}


.footer-user-navigation {
  width: 365px;
  height: 36px;
  margin-top: 72px;
}

.footer-contacts {
  width: 260px;
  height: 30px;
  margin-top: 36px;
}

.footer-copyright {
  width: 60px;
  height: 30px;
  margin-top: 63px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}
