@font-face {
  font-family: "Gilroy Extrabold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2") format("woff2");
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-header-index {
  min-height: 299px;
}

.main-header-monopod {
  min-height: 143px;
}

.main-navigation {
  margin: 0 auto;
  margin-top: 41px;
  width: 1040px;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-left: 60px;
  height: 256px;
  padding-right: 60px;
  color: #000000;
  background-color: #f7e296;
  position: relative;
}

.main-header-monopod .main-navigation {
  height: 143px;
}

.header-logo {
  width: 163px;
  height: 35px;
  position: absolute;
  top: -20px;
  left: 60px;
}

.main-header-monopod .header-logo {
  top: -17px;
}

.user-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 30px;
  margin-bottom: 39px;
}

.user-navigation form {
  display: flex;
  width: 400px;
  padding-left: 38px;
  margin-right: 100px;
  position: relative;
  padding-top: 6px;
}

.user-navigation form::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/search.svg");
}

.user-navigation .search {
  background-color: transparent;
  border: none;
  outline: none;
}

.user-navigation .login-link {
  display: flex;
  width: 73px;
  padding-left: 29px;
  margin-right: 180px;
  position: relative;
}

.user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/user.svg");
}

.user-navigation .login-link-name {
  padding: 0;
  margin: 0;
  display: flex;
  width: 152px;
  padding-left: 29px;
  position: relative;
}

.user-navigation .login-link-name::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/user.svg");
}

.user-navigation .login-link-exit {
  display: flex;
  width: 44px;
  margin-right: 57px;
  position: relative;
  opacity: 0.3;
}

.user-navigation .compare-link {
  display: flex;
  width: 72px;
  padding-left: 28px;
  margin-right: 20px;
  position: relative;
}

.user-navigation .compare-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 7px;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/compare.svg");
}

.user-navigation .basket-link {
  display: flex;
  padding-left: 40px;
  width: 60px;
  position: relative;
}

.user-navigation .basket-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 17px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/cart.svg");
}

.site-navigation {
  list-style: none;
  background-color: #f7e296;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 24px;
}

.site-navigation-link {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.site-navigation .catalog-link {
  width: 300px;
  margin-right: 240px;
  position: relative;
}

.site-navigation .catalog-link::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 54px;
  top: 4px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/plus.png");
}

.site-navigation .delivery-link {
  width: 160px;
  position: relative;
}

.site-navigation .guarantees-link {
  width: 140px;
  margin-right: 80px;
  position: relative;
}

.site-navigation .contacts-link {
  margin: 0;
  padding: 0;
  position: relative;
}

.catalog-items-wrap {
  display: none;
  z-index: 5;
}

.catalog-items-wrap:hover {
  display: block;
  z-index: 5;
}

.catalog-items-height {
  position: absolute;
  left: 0px;
  background: #f7e296;
  width: 1160px;
  height: 163px;
  z-index: 4;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-top: 21px;
  position: absolute;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  background: #f7e296;
  z-index: 5;
}

.catalog-link:hover+.catalog-items-wrap {
  display: block;
}

.header-item1 {
  width: 240px;
  letter-spacing: 0.2px;
}

.header-item2 {
  width: 200px;
}

.header-item3 {
  width: 160px;
}

.header-item4 {
  width: 360px;
}

.site-navigation a,
.user-navigation a,
.catalog-items a {
  color: #000000;
  display: block;
  vertical-align: middle;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.5s;
}

a:hover .image {
  opacity: 0.6;
}

a:active .image {
  opacity: 0.3;
}

.search {
  opacity: 0.3;
}

.search:hover {
  opacity: 0.6;
}

.search:focus {
  opacity: 1;
}

.user-navigation a:hover,
.site-navigation a:hover,
.catalog-items a:hover {
  opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active,
.catalog-items a:active {
  opacity: 0.3;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-columns h2 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 43px;
}

.about-us-item {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.about-us-item::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  top: 15px;
  left: -33px;
}

.button {
  display: inline-block;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  letter-spacing: 3px;
  position: relative;
  width: 260px;
  background: none;
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #f0c52e;
  width: 100%;
  height: 8px;
  z-index: -1;
  left: 0px;
  top: 8px;
}

.button:hover::before {
  height: 40px;
  top: -8px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.over {
  position: relative;
}

.over::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  left: 2px;
  top: -53px;
  background: #000000;
}

.footer-site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-left: 5px;
  margin-top: 137px;
  justify-content: flex-start;
}

.footer-site-item {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 2.5px;
}

.footer-site-item1 {
  width: 135px;
}

.footer-site-item2 {
  width: 160px;
}

.footer-site-item3 {
  width: 140px;
}

.footer-catalog-items {
  line-height: 36px;
  list-style: none;
}

.footer-site-navigation a,
.footer-user-navigation a,
.footer-catalog-items a,
.footer-social a {
  color: #ffffff;
}

.footer-user-navigation a {
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-copyright a {
  opacity: 1;
}

.footer-copyright a:hover {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

.page-title {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.page-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  /* Временно для сетки */
  min-height: 48px;
}

.breadcrumbs {
  list-style: none;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
  min-height: 24px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-color: none;
  top: 9px;
  right: -20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-current {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs .back-page {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs .back-page:hover {
  color: #000000;
  opacity: 0.6;
}

.breadcrumbs .back-page:active {
  color: #000000;
  opacity: 0.1;
}

.filter-sort {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  width: 200px;
  padding-right: 68px;
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-fieldset1 {
  margin-bottom: 38px;
}

.filter-fieldset2 {
  margin-bottom: 42px;
}

.filter-fieldset3 {
  margin-bottom: 31px;
}

.filter-sort legend {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.filter-sort .filter-type1 {
  margin-bottom: 35px;
}

.filter-sort .filter-type2 {
  margin-bottom: 18px;
}

.filter-sort .filter-type3 {
  margin-bottom: 19px;
}

.filter-sort ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 40px;
}

.filter-option {
  color: #000000;
  margin-bottom: 0px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -40px;
  top: 8px;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 8px;
  left: -40px;
}

.filter-option label::before,
.filter-option label::after {
  opacity: 1;
}

.filter-option label:hover::before,
.filter-option label:hover::after {
  opacity: 0.3;
}

.filter-option label:active::before,
.filter-option label:active::after {
  opacity: 1;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 8px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 8px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog p {
  margin: 0;
  padding: 0;
}

.catalog a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-size: 300;
  color: #000000;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item-image img {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  width: 360px;
  height: 380px;
}

.sort-monopod-wrap h3 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-item-price p {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 80px;
}

.catalog-item-price a {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.catalog-item {
  width: 360px;
  min-height: 438px;
  margin-right: 40px;
  position: relative;
}

.catalog-item1 {
  margin-bottom: 28px;
}

.catalog-item2 {
  margin-bottom: 17px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-bottom {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.index-columns-wrapper {
  min-width: 1160px;
  margin: 0 auto;
}

.index-columns {
  margin: 0;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px
}

.about-us {
  width: 480px;
  min-height: 560px;
}

.contacts {
  width: 560px;
  min-height: 560px;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
  min-height: 320px;
  min-width: 1200px;
  margin: 0 auto;
}

.main-footer .container {
  display: flex;
  width: 1160px;
  padding: 0 20px;
}

.logo-wrapper {
  width: 260px;
  min-height: 195px;
  margin: 0;
  margin-right: 100px;
}

.info-wrapper {
  width: 440px;
  min-height: 195px;
  margin: 0;
}

.icon-wrapper {
  width: 360px;
  min-height: 195px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo {
  padding: 0;
  width: 163px;
  height: 35px;
}

.footer-address {
  width: 260px;
  height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 31px;
  position: relative;
}

.footer-address::before {
  position: absolute;
  content: "";
  margin: 0;
  padding: 0;
  width: 80px;
  height: 7px;
  background: #ffc600;
  left: 0px;
  bottom: -83px;
}

.footer-contacts {
  display: flex;
  height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  flex-direction: row-reverse;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  margin-top: 61px;
}

img {
  max-width: 100%;
  height: auto;
}

.map {
  height: 222px;
  margin: 0;
  background-color: #cccccc;
  margin-bottom: 73px;
}

.map img {
  width: 560px;
  height: 222px;
}

.map-container {
  position: relative;
  height: 407px;
}

.map-button {
  margin: 0;
}

.about-us p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about-us-companies {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 66px;
  margin-left: 35px;
  margin-bottom: 57px;
}

.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.footer-user-navigation {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 64px;
  flex-direction: row;
  padding-left: 62px;
  justify-content: flex-end;
}

.footer-user-navigation .footer-login-link {
  display: flex;
  position: relative;
}

.footer-user-navigation .footer-login-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -28px;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/user-yellow.svg");
}

.footer-user-navigation .footer-login-link-name {
  display: flex;
  position: absolute;
  right: 383px;
}

.footer-user-navigation .footer-login-link-name::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -26px;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/user-yellow.svg");
}

.footer-user-navigation .footer-login-link-exit {
  display: flex;
  position: relative;
  opacity: 0.3;
}

.footer-user-navigation .footer-compare-link {
  display: flex;
  position: relative;
  margin-left: 65px;
}

.footer-user-navigation .footer-compare-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/compare-yellow.svg");
}

.footer-user-navigation .footer-basket-link {
  display: flex;
  position: relative;
  margin-left: 66px;
}

.footer-user-navigation .footer-basket-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -23px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/cart-yellow.svg");
}

.html-button {
  margin: 0;
  padding: 0;
  display: flex;
  background: none;
  fill: #f0c52e;
  width: auto;
}

.html-button::before {
  background: none;
}

.footer-logo-wrapper {
  width: 260px;
  min-height: 195px;
  margin: 0;
  margin-right: 100px;
  margin-top: 65px;
}

.footer-social {
  width: 140px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-top: 63px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.social-button::before {
  background: none;
}

.modal p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.modal label {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.modal-wrap {
  margin: 0 auto;
  padding: 0 20px;
  width: 960px;
}

.modal-sent {
  display: none;
  width: 760px;
  z-index: 10;
  background: white;
  height: 363px;
  position: absolute;
  top: 1057px;
  box-shadow: 0px 0px 5px black;
  padding: 79px 100px 92px 100px;
}

.modal-map {
  display: none;
  z-index: 10;
  height: 560px;
  position: absolute;
  top: 1852px;
  box-shadow: 0px 0px 5px black;
  padding: 0 0;
}

.close {
  top: 22px;
  right: 27px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  border: none;
  width: 55px;
  height: 55px;
  background: none;
  opacity: 0.5;
  outline: none;
  z-index: 3;
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.3;
}

.sent-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sent-form label {
  display: block;
  margin-bottom: 7px;
}

.small-form {
  width: 360px;
}

.large-form {
  width: 760px;
}

.small-form input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 0;
  padding-bottom: 3px;
  padding-left: 21px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  margin-bottom: 5px;
}

.small-form input:hover,
.large-form textarea:hover {
  background-color: #eaeaea;
}

.small-form input:focus,
.large-form textarea:focus {
  background-color: white;
  border: 3px solid #f7e296;
  opacity: 1;
}

.large-form textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  padding-top: 16px;
  padding-left: 21px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  height: 156px;
  margin-bottom: 17px;
}

.small-form input::placeholder,
.large-form textarea::placeholder {
  opacity: 0.4;
}

.small-form input:focus::placeholder,
.large-form textarea:focus::placeholder {
  opacity: 1;
}

.submit-button {
  width: 200px;
}

.submit-button::before {
  width: 200px;
}

.filter-button {
  z-index: 0;
  width: 200px;
}

.filter-button::before {
  width: 200px;
}

.new::before {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  content: "NEW";
  position: absolute;
  text-align: center;
  top: 47px;
  right: 38px;
  opacity: 0.2;
}

.new::after {
  position: absolute;
  content: "";
  top: 29px;
  right: 27px;
  width: 56px;
  height: 56px;
  border: 2px solid #000000;
  opacity: 0.1;
  border-radius: 50%;
}

.monopod-title {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  line-height: 47px;
  font-size: 48px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #000000;
  margin-top: 38px;
}

.container-monopod-title {
  width: 1040px;
  margin: 0 auto;
  padding: 0 80px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog-columns {
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.filters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 328px;
  min-width: 200px;
  background-color: #eeeeee;
  min-height: 1217px;
}

.filters::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: #eeeeee;
}

.catalog {
  width: 832px;
  min-height: 1217px;
}

.filter-type {
  position: relative;
}

.filter-type::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background: #000000;
  top: -12px;
}

.main-filter h2 {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 0;
  margin-bottom: 81px;
  padding: 23px 0px;
  position: relative;
  width: 268px;
  background: #dcdcdc;
}

.main-filter h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 268px;
  width: 100vw;
  height: 70px;
  background-color: #dcdcdc;
}

.sort-monopod-wrap {
  margin: 0;
  margin-bottom: 69px;
  padding: 0;
  padding-left: 72px;
  position: relative;
  width: 760px;
  background: #ebebeb;
  display: flex;
  height: 70px;
}

.sort-monopod-wrap::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 70px;
  background: #ebebeb;
  top: 0;
  left: 0;
  z-index: -1;
}

.sort-monopod-wrap h3 {
  padding: 0;
  margin: 0;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  padding: 23px 0px;
  margin-right: 53px;
}

.sort-monopod-wrap .sort-monopod-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 500px;
  padding-top: 25px;
  position: relative;
}

.sort-monopod-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.sort-monopod-list li {
  display: flex;
  margin-right: 31px;
}

.sort-monopod-list .current {
  opacity: 1;
}

.sort-monopod-wrap .sort-monopod-updown {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 26px;
}

.sort-monopod-updown li {
  display: flex;
  margin-left: 19px;
  opacity: 0.3;
}

.sort-monopod-updown li:hover {
  opacity: 0.6;
}

.sort-monopod-updown .current:hover {
  opacity: 1;
}

.sort-monopod-updown li:active {
  opacity: 1;
}

.sort-monopod-updown .current {
  opacity: 1;
}

.item-monopod-wrap {
  margin-left: 72px;
}

.pagination-list {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background: #ebebeb;
  width: 100%;
  height: 70px;
  margin-bottom: 77px;
  padding: 0px;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.pagination-list>li {
  padding: 0;
  margin: 0;
  padding-top: 24px;
}

.pagination-title {
  width: 126px;
  text-align: center;
  background: transparent;
  opacity: 1s;
}

.pagination-title:hover {
  background: #d9d9d9;
}

.pagination-title:active {
  background: #d9d9d9;
  opacity: 0.6;
}

.pagination-list-number {
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 86px;
  padding: 0px 0px 0px 60px;
  justify-content: space-between;
}

.pagination-item {
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.pagination-item-current {
  opacity: 1;
}

.pagination-item-current:focus {
  opacity: 1;
}

.scale {
  position: relative;
  height: 2px;
  width: 200px;
  background: #dbdbdb;
  margin-bottom: 1px;
}

.bar {
  width: 60%;
  background: #91c92f;
  height: 2px;
}

.toggle1 {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  top: -10px;
  left: -5px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 2px #dadada;
  cursor: pointer;
}

.toggle2 {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  top: -10px;
  right: 72px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 2px #dadada;
  cursor: pointer;
}

.toggle1:active,
.toggle2:active {
  width: 4px;
  height: 4px;
  border: 9px solid #ffffff;
}

.toggle1:active {
  transform: translateX(-1px) translateY(-1px);
}

.toggle2:active {
  transform: translateX(1px) translateY(-1px);
}

.price-controls input {
  border: none;
  width: 50px;
  margin: 0;
  padding: 0;
  background: none;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.price-controls label {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.2;
  margin-right: 18px;
}

.quick-links {
  height: 160px;
  width: 100%;
  margin-bottom: 262px;
}

.popular {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.popular-item {
  position: relative;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 160px;
  background: #f7e296;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popular-item:hover {
  background: #f0c52e;
}

.popular-item-wrap {
  opacity: 1;
}

.popular-item-wrap:active {
  opacity: 0.6;
}

.popular-item-2 {
  align-items: flex-end;
}

.item-span {
  padding: 0;
  margin: 0;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  position: absolute;
  content: "";
  width: 100%;
  top: 193px;
  left: 0px;
}

.advantages-wrap {
  background: #e5e5e5;
  width: 100%;
  height: 288px;
  position: relative;
  margin-bottom: 47px;
}

.advantages {
  position: relative;
  height: 320px;
  display: flex;
  top: -100px;
}

.advantages-buttons {
  padding: 0;
  margin: 0;
  width: 284px;
  padding-top: 85px;
  z-index: 1;
  position: relative;
}

.advantages-buttons::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 320px;
  background: black;
  top: 0px;
  right: 0px;
}

.advantages-button-1 {
  text-align: center;
  width: 160px;
}

.advantages-button-2 {
  text-align: center;
  width: 160px;
  margin-top: 37px;
}

.advantages-button-3 {
  text-align: center;
  width: 160px;
  margin-top: 41px;
}

.advantages-button::before {}

.advantages-button:active::before {
  background-color: #000000;
  width: 278px;
  height: 40px;
  top: -9px;
  left: 0px;
}

.advantages-button:active {
  color: #f7e296;
}

#follow-1:checked~.advantages-buttons label[for="follow-1"],
#follow-2:checked~.advantages-buttons label[for="follow-2"],
#follow-3:checked~.advantages-buttons label[for="follow-3"] {
  color: #f7e296;
}

#follow-1:checked~.advantages-buttons label[for="follow-1"]::before,
#follow-2:checked~.advantages-buttons label[for="follow-2"]::before,
#follow-3:checked~.advantages-buttons label[for="follow-3"]::before {
  background-color: #000000;
  width: 278px;
  height: 40px;
  top: -9px;
  left: 0px;
}

.advantages-slide {
  display: none;
}

#follow-1:checked~.advantages-slider #advantages1,
#follow-2:checked~.advantages-slider #advantages2,
#follow-3:checked~.advantages-slider #advantages3 {
  display: block;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-description {
  width: 426px;
  padding-left: 116px;
  padding-top: 75px;
  position: relative;
}

.advantages-description::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-description-1::after {
  top: 85px;
  right: -268px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.advantages-description-2::after {
  top: 61px;
  right: -290px;
  width: 172px;
  height: 194px;
  background-image: url("../img/warranty.svg");
}

.advantages-description-3::after {
  top: 61px;
  right: -266px;
  width: 157px;
  height: 186px;
  background-image: url("../img/credit.svg");
}

.advantages-description h2 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 30px;
}

.advantages-description p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.partners {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 99px;
}

.partner-link {
  width: 260px;
  height: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dji {
  width: 260px;
  height: 100px;
  background-image: url("../img/logo-1-gray.png");
  opacity: 0.2;
}

.sp-gadgets {
  width: 260px;
  height: 100px;
  background-image: url("../img/logo-2-gray.png");
  opacity: 0.2;
}

.go-pro {
  width: 260px;
  height: 100px;
  background-image: url("../img/logo-3-gray.png");
  opacity: 0.2;
}

.vive {
  width: 260px;
  height: 100px;
  background-image: url("../img/logo-4-gray.png");
  opacity: 0.2;
}

.dji:hover,
.dji:focus {
  background-image: url("../img/logo-1.png");
  opacity: 1;
}

.sp-gadgets:hover,
.sp-gadgets:focus {
  background-image: url("../img/logo-2.png");
  opacity: 1;
}

.go-pro:hover,
.go-pro:focus {
  background-image: url("../img/logo-3.png");
  opacity: 1;
}

.vive:hover,
.vive:focus {
  background-image: url("../img/logo-4.png");
  opacity: 1;
}

.slider-wrap {
  position: relative;
  width: auto;
  height: 480px;
}

.slider {
  position: absolute;
  bottom: 106px;
  display: flex;
  height: 486px;
  width: 100%;
  justify-content: space-between;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 55px;
}

.slider-img-list {
  margin: 0;
  padding: 0;
}

.slider-item-img-1 {
  margin: 0;
  padding: 0;
  margin-left: 90px;
  list-style: none;
}

.slider-item-img-2 {
  margin: 0;
  padding: 0;
  margin-left: 116px;
  list-style: none;
  padding-top: 12px;
}

.slider-item-img-3 {
  margin: 0;
  padding: 0;
  margin-left: 31px;
  padding-top: 65px;
  list-style: none;
}

.slider-specifications {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.slide-title {
  width: 505px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  position: relative;
  z-index: 1;
  letter-spacing: 0.6px;
}

.slide-decription {
  width: 500px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  margin-bottom: 50px;
  letter-spacing: 0.1px;
}

.slider-controls {
  position: absolute;
  bottom: 129px;
  right: 3px;
  z-index: 0;
  font-size: 0;
  margin-right: 80px;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 21px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-button {
  margin-bottom: 58px;
  width: 220px;
}

.slider-item-specifications {
  margin-right: 80px;
}

.slider-item-specifications:last-child {
  margin-right: 0px;
}

.slider-item-specifications p {
  margin: 0;
  padding: 0;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 8px;
}

.slider-item-specifications h3 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
  margin-bottom: 7px;
}

.slide-title::before {
  position: absolute;
  content: "";
  background: #ffffff;
  width: 100px;
  height: 7px;
  top: -41px;
}

.slider-item-1::after {
  position: absolute;
  content: "01";
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  top: -13px;
  right: 50px;
}

.slider-item-2::after {
  position: absolute;
  content: "02";
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  top: -35px;
  right: 50px;
}

.slider-item-3::after {
  position: absolute;
  content: "03";
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  top: -25px;
  right: 50px;
}

.slide {
  display: none;
}

#product-1:checked~.slider #slide1,
#product-2:checked~.slider #slide2,
#product-3:checked~.slider #slide3 {
  display: block;
}

#product-1:checked~.slider #img-slide1,
#product-2:checked~.slider #img-slide2,
#product-3:checked~.slider #img-slide3 {
  display: block;
}

#product-1:checked~.slider label[for="product-1"],
#product-2:checked~.slider label[for="product-2"],
#product-3:checked~.slider label[for="product-3"] {
  background-color: #ffffff;
  position: relative;
}

#product-1:checked~.slider label[for="product-1"]::before,
#product-2:checked~.slider label[for="product-2"]::before,
#product-3:checked~.slider label[for="product-3"]::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2px;
  height: 2px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #000000;
}

.catalog-item-add-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  z-index: 2;
  background: rgba(238, 238, 238, 0.7);
  text-align: center;
}

.catalog-item-add {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 180px;
}

.catalog-item-add .button {
  width: 200px;
  margin-bottom: 24px;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item-compare {
  font-size: 13px;
  line-height: 20px;
  opacity: 0.5;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}

.catalog-item-compare:hover {
  opacity: 1;
}

.catalog-item-compare:active {
  opacity: 0.2;
}

.catalog-item:hover .catalog-item-add-wrap {
  display: block;
}

.search-button-hover {
  display: none;
  position: absolute;
  top: -9px;
  right: -2px;
  width: 81px;
  height: 37px;
  background: transparent;
  border: 2px solid #000000;
  text-align: center;
  padding-top: 8px;
}

.search-button-hover::before {
  position: absolute;
  content: "";
  bottom: -2px;
  right: 83px;
  width: 355px;
  height: 2px;
  background: #000000;
}

.search-button-hover .search-button {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.search-button-hover:hover {
  background: #000000;
}

.search-button-hover .search-button:hover {
  color: #ffffff;
  opacity: 1;
}

.search-button-hover:focus {
  background: #000000;
}

.search-button-hover .search-button:focus {
  color: #ffffff;
  opacity: 0.3;
}

.search:focus~.search-button-hover {
  display: block;
}

.search:focus~.search-button-hover:focus {
  display: block;
}

.sort-monopod-list li {
  opacity: 0.3;
}

.sort-monopod-list .current {
  opacity: 1;
}

.sort-monopod-list li:hover {
  opacity: 0.6;
}

.sort-monopod-list .current:hover {
  opacity: 1;
}

.sort-monopod-list li:active {
  opacity: 1;
}

.small-form input:invalid {
 background: #f6dada;
 border: none;
}


.map-show {
  display: block;
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.sent-show {
  display: block;
  animation: bounce 1s;
}

.map-show {
  display: block;
  animation: bounce 1s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}
